<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <h2 class="mb-4" style="margin-bottom: 50px;">商品新規登録</h2>
        <%= form_with model: @item, url: admin_items_path do |f| %>

            <div class="row">
                <div class="col-md-5">
                    <div class="item-new-form mb-4">
                        <%= f.file_field :image, accept: "image/*" %>
                    </div>
                </div>
              
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th>商品名</th>
                                <td><%= f.text_field :name, class: "form-control" %></td>
                            </tr>
                            <tr>
                                <th>商品説明</th>
                                <td><%= f.text_area :introduction, class: "form-control" %></td>
                            </tr>
                            <tr>
                                <th>税抜価格</th>
                                <td><%= f.text_field :price_without_tax, class: "form-control" %></td>
                            </tr>
                            <tr>
                                <th>販売ステータス</th>
                                <td><%= f.select :is_sales_status, [["販売中","false"], ["販売不可","true"]], include_blank: "--選択してください--", class: "form-control" %></td>
                            </tr>
                        </tbody>
                    </table>
                 </div>
            
            <div class="text-center mt-4">
                <%= f.submit "新規登録", class: "btn btn-success", style:"width: 200px;" %>
            </div>

        <% end %>
    </div>
</div>
