<br><br>

  <div class="row mb-4">
    
    <div class="col-12 text-left">
      <h4><strong>注文履歴一覧</strong></h4>
    </div>
  </div>
    
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th class="col-xs-2">注文日</th>
          <th class="col-xs-3">配送先</th>
          <th class="col-xs-3">注文商品</th>
          <th class="col-xs-1">支払料金</th>
          <th class="col-xs-2">ステータス</th>
          <th class="col-xs-1">注文詳細</th>
        </tr>
      </thead>
      
    <tbody>
      
    <% @orders.each do |order| %>
      
      <tr>
        <td class="col-xs-2">
          <%= order.created_at.strftime('%Y/%m/%d') %>
        </td>
        <td class="col-xs-3">
          <%= order.postal_code %>
          <%= order.address %>
          <%= order.name %>
        </td>
        <td class="col-xs-3">
          <% order.order_details.each do |order_detail| %>
            <%= order_detail.item.name %><br>
          <% end %>
        </td>
        <td class="col-xs-1"><%= order.billing_amount.to_s(:delimited, delimiter: ',') %></td>
        <td class="col-xs-2"><%= order.order_status %></td>
        <td class="col-xs-1"><%= link_to "詳細表示", order_path(order), class:"btn btn-primary" %></td>
      </tr>
      
      <% end %>
      </tbody>
    </table>

