<div class="panel panel-warning">
  
  <div class="panel-heading">
    <h4><span class="label label-default">注文情報入力</span></h4>
  </div>
  
  <div class="panel-body">
    
    <%= form_with model: @orders, url: confirm_path, method: :post do |f| %>
    
      <h5>支払方法</h5>
      
        <span> </span><%= f.radio_button :method, 0, checked: "checked" %>
        <%= f.label 'クレジットカード' %><br>
        <span> </span><%= f.radio_button :method, 1 %>
        <%= f.label '銀行振込' %>
      
      <h5>お届け先</h5>
        
        <span> </span><%= f.radio_button :delivery_option, '自身の住所', checked: true %>
        <%= f.label '自身の住所' %><br>
        <span> </span>〒<%= @customer.postal_code %>
        <%= @customer.address %><br>
        <span> </span><%= @customer.last_name %>
        <%= @customer.first_name %><br>
        
        <%= f.submit "確認画面へ進む", class:"btn btn-primary col-xs-6 col-xs-offset-1" %>
        
    <% end %>
  </div>
  
</div>