 <br><br>
 
 <h2>ログイン</h2>
 
 <br><br>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h5>会員の方はこちらからログイン</h5>
      
      <br>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group　mr-2">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
        
        <br>

        <div class="form-group">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
        
        <br>

        <div class="text-center">
          <%= f.submit "ログイン", class: "btn btn-primary", style:"width: 200px;" %>
        </div>
      <% end %>

      <br><br><br>

      <h5>会員登録がお済みでない方</h5>
      
      <br>
      
      
      <p class="text-center">
        <%= link_to 'こちら', new_customer_registration_path %>
        から新規登録を行ってください。
      </p>
    </div>
  </div>
