
  <div class="row">
    
    <div class="col-xs-12">
      <h4 class="my-5">商品一覧 (全 <%= @items_all.count %> 件)</h4>
    </div>
    
     <div class="col-xs-9 col-xs-offset-1">
        <div class="product-card-content">
          
          <% @items.each do |item| %>
          <div class="col-xs-3" style="padding-right: 0px; padding-left: 0px; margin: 10px 0;">
            
            <%= link_to item_path(item.id), style:"color: black;" %>
            
            <%= image_tag item.image,(200, 200) %>
          
            <%= item.name %>
            
            ¥ <%= item.price_without_tax.to_s(:delimited, delimiter: ',') %>
            
          </div>
          <% end %>
          
        </div>
     </div>
    <div style="text-align: center;"><%= paginate @items %></div>
  </div>
